/* line 1, ../sass/breadcrumb.scss */
#breadcrumb {
  clear: both;
  height: 28px;
  box-shadow: 0 1px 0 #fff, 0 1px 0 #fff inset;
  -webkit-box-shadow: 0 1px 0 #fff, 0 1px 0 #fff inset;
  -moz-box-shadow: 0 1px 0 #fff, 0 1px 0 #fff inset;
  background: url(../images/backgrounds/breadcrumbs.png) repeat-x;
  border-top: 1px solid #c3c3c3;
  border-bottom: 1px solid #c3c3c3;
  font-size: 11px;
  margin-bottom: 15px;
}
/* line 13, ../sass/breadcrumb.scss */
#breadcrumb .breadcrumb {
  padding: 2px 0 0 0;
  margin: 0;
  border-radius: 0;
  background-color: transparent;
}
/* line 21, ../sass/breadcrumb.scss */
#breadcrumb .breadcrumb li {
  padding: 0px 20px 0px 0px;
  margin-right: 10px;
  background: url('../images/icons/breadsArrow.png?1383682122') no-repeat 100% 7px;
}
/* line 26, ../sass/breadcrumb.scss */
#breadcrumb .breadcrumb li:before, #breadcrumb .breadcrumb li:after {
  content: "";
  padding: 0;
}
/* line 28, ../sass/breadcrumb.scss */
#breadcrumb .breadcrumb li:last-child {
  background: none;
}
/* line 30, ../sass/breadcrumb.scss */
#breadcrumb .breadcrumb li:last-child a {
  color: #B1B1B1;
}
/* line 35, ../sass/breadcrumb.scss */
#breadcrumb .breadcrumb li a {
  color: #666666;
  display: block;
  height: 22px;
  text-decoration: none;
}
/* line 41, ../sass/breadcrumb.scss */
#breadcrumb .breadcrumb li a .fa {
  margin-right: 4px;
}
