/* line 2, ../sass/tabs.scss */
.nav > li {
  position: relative;
  display: block;
}

/* line 9, ../sass/tabs.scss */
.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
/* line 15, ../sass/tabs.scss */
.nav-tabs > li.active > a {
  color: #555555;
  background-color: white;
  border: 1px solid #dddddd;
  border-bottom-color: transparent;
  cursor: default;
}
