/* line 1, ../sass/uniform_default.scss */
div.checker, div.radio {
  display: -moz-inline-box;
  display: inline-block;
  zoom: 1;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

/* line 10, ../sass/uniform_default.scss */
div.checker {
  width: 16px;
  height: 16px;
  position: relative;
  display: -moz-inline-box;
  display: block;
  vertical-align: middle;
  zoom: 1;
  float: left;
  margin-top: 3px;
  margin-right: 8px;
  box-shadow: 0 1px 0 #fff;
  -webkit-box-shadow: 0 1px 0 #fff;
  -moz-box-shadow: 0 1px 0 #fff;
}
/* line 25, ../sass/uniform_default.scss */
div.checker span {
  display: -moz-inline-box;
  display: inline-block;
  zoom: 1;
  text-align: center;
  background-position: 0 0;
  width: 16px;
  height: 16px;
  -webkit-font-smoothing: antialiased;
}
/* line 36, ../sass/uniform_default.scss */
div.checker input {
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  border: none;
  background: none;
  display: -moz-inline-box;
  display: inline-block;
  zoom: 1;
  width: 19px;
  height: 19px;
  cursor: pointer;
}

/* line 51, ../sass/uniform_default.scss */
div.checker input, input[type="search"], input[type="search"]:active {
  -moz-appearance: none;
  -webkit-appearance: none;
}

/* line 57, ../sass/uniform_default.scss */
div.checker span {
  background: url(../images/elements/forms/checkboxes.png) no-repeat 0 0;
  height: 16px;
  width: 16px;
  display: -moz-inline-box;
  display: inline-block;
  text-align: center;
}
/* line 65, ../sass/uniform_default.scss */
div.checker span.checked {
  background-position: 0 -17px;
}

/* line 71, ../sass/uniform_default.scss */
div.radio {
  width: 16px;
  height: 17px;
  position: relative;
  display: -moz-inline-box;
  display: block;
  vertical-align: middle;
  zoom: 1;
  float: left;
  margin-top: 3px;
  margin-right: 8px;
}
/* line 83, ../sass/uniform_default.scss */
div.radio span {
  background: url('../images/elements/forms/radios.png?1383682122') no-repeat 0 0;
  height: 17px;
  width: 16px;
  display: -moz-inline-box;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}
/* line 92, ../sass/uniform_default.scss */
div.radio span.checked {
  background-position: 0 -18px;
}
/* line 97, ../sass/uniform_default.scss */
div.radio input {
  width: 16px;
  height: 17px;
  opacity: 0;
  filter: alpha(opacity=0);
  display: none;
  background: none;
}
