#breadcrumb {
  clear: both;
  height: 28px;
  box-shadow: 0 1px 0 #fff, 0 1px 0 #fff inset;
  -webkit-box-shadow: 0 1px 0 #fff, 0 1px 0 #fff inset;
  -moz-box-shadow: 0 1px 0 #fff, 0 1px 0 #fff inset;
  background: url(../images/backgrounds/breadcrumbs.png) repeat-x;
  border-top: 1px solid #c3c3c3;
  border-bottom: 1px solid #c3c3c3;
  font-size: 11px;
  margin-bottom: 15px;

  .breadcrumb {
    padding: 2px 0 0 0;
    margin: 0;
    border-radius: 0;
    background-color: transparent;



    li {
      padding: 0px 20px 0px 0px;
      margin-right: 10px;
      background: image-url('icons/breadsArrow.png') no-repeat 100% 7px;

      &:before, &:after { content: ""; padding: 0; }

      &:last-child {
        background: none;
        a {
          color: #B1B1B1;
        }
      }

      a {
        color: #666666;
        display: block;
        height: 22px;
        text-decoration: none;

        .fa {
          margin-right: 4px;
        }
      }
    }
  }
}