@import "variables";
@import "mixin_helpers";

//
// Panels
// --------------------------------------------------


// Base class
.panel {
  @include box-shadow(0 2px 2px -2px #CCC);
  background: $box-background;
  border: 1px solid $box-border-color;
  @include border-radius(3px);
  margin-bottom: 20px;
}


// List groups in panels
//
// By default, space out list group content from panel headings to account for
// any kind of custom content between the two.

.panel {
  > .list-group {
    margin-bottom: 0;

    .list-group-item {
      border-width: 1px 0;

      // Remove border radius for top one
      &:first-child {
        @include border-top-radius(0);
      }
      // But keep it for the last one
      &:last-child {
        border-bottom: 0;
      }
    }
  }
}
// Collapse space between when there's no additional content.
.panel-heading + .list-group {
  .list-group-item:first-child {
    border-top-width: 0;
  }
}


// Tables in panels
//
// Place a non-bordered `.table` within a panel (not within a `.panel-body`) and
// watch it go full width.

.panel {
  > .table {
    margin-bottom: 0;
  }
  > .panel-body + .table {

  }
}


// Optional heading
.panel-heading {
  padding: 8px 12px;
  @include clearfix;
  @include box-header-aspect;
}

// Within heading, strip any `h*` tag of it's default margins for spacing.
.panel-title {
  > a {
  }
}

// Optional footer (stays gray in every modifier class)
.panel-footer {
  @include clearfix;
}


// Collapsable panels (aka, accordion)
//
// Wrap a series of panels in `.panel-group` to turn them into an accordion with
// the help of our collapse JavaScript plugin.

.panel-group {
  margin-bottom: 20px;

  // Tighten up margin so it's only between panels
  .panel {
    @include border-bottom-radius(0);

    + .panel {
      margin-top: -1px;
      @include border-radius(0);
    }

    &:last-child {
      @include border-bottom-radius(4px);
    }
  }

  .panel-heading {
    padding: 0;

    + .panel-collapse .panel-body {
      border-top-color: $box-border-color;
    }

    a {
      padding: 8px 12px;
      display: block;
    }
  }
  .panel-footer {
    + .panel-collapse .panel-body {
    }
  }

  // New subcomponent for wrapping collapsable content for proper animations
  .panel-collapse {

  }
}