@import "variables";

#sidebar {
  display: block;
  background: image-url('backgrounds/side.jpg');
  min-height: 100%;
  position: absolute;
  top: 0;
  z-index: 999;
  border-right: 1px solid #c3c3c3;
  width: 326px;

  > .nav {
    position: relative;
    margin-top: $top-navigation-height + 1px;
    border-top: 1px solid #545454;
    border-bottom: 1px solid #555555;
    width: 100px;
    float: left;

    li {
      border-top: 1px solid #555555;
      border-bottom: 1px solid #2e2e2e;
      text-align: center;
      color: #cacaca;

      a {
        padding: 12px 0;
        color: #cacaca;
        font-size: 11px;
        line-height: 11px !important;
        display: block;

        // Fade effect
        @include transition-duration($transition-duration);
        @include transition-timing-function(ease-in-out);

        // Gradient
        background: -moz-linear-gradient(top, rgba(86, 86, 86, 0.2) 0%, rgba(54, 54, 54, 0.2) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(86, 86, 86, 0.2)), color-stop(100%, rgba(54, 54, 54, 0.2)));
        background: -webkit-linear-gradient(top, rgba(86, 86, 86, 0.2) 0%, rgba(54, 54, 54, 0.2) 100%);
        background: -o-linear-gradient(top, rgba(86, 86, 86, 0.2) 0%, rgba(54, 54, 54, 0.2) 100%);
        background: -ms-linear-gradient(top, rgba(86, 86, 86, 0.2) 0%, rgba(54, 54, 54, 0.2) 100%);
        background: linear-gradient(top, rgba(86, 86, 86, 0.2) 0%, rgba(54, 54, 54, 0.2) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33565656', endColorstr='#33363636', GradientType=0);

        &.active, &.active:hover {
          @include background(linear-gradient(top, rgba(148, 181, 198, 0.12) 0%, rgba(148, 181, 198, 0.17) 100%));
        }

        // Icons
        .fa {
          font-size: 22px;
          @include opacity(0.5);

          // Fade effect
          @include transition-property(opacity);
          @include transition-duration($transition-duration);
          @include transition-timing-function(ease-in-out);

          // Gradient icons
          &:before {
            color: #d9d9d9;
            background: -webkit-linear-gradient(#f1f1f1, #b9b9b9);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }

        span {
          text-shadow: 0 1px 0 #303030;
          display: block;
          margin-top: 10px;
        }

        &.active, &:hover {
          padding: 12px 0;
          color: #f1f1f1;

          // Fade in the icons
          .fa {
            @include opacity(1);
          }
        }

        &:hover {
          background: none;

          // Gradient
          background: -moz-linear-gradient(top, rgba(86, 86, 86, 0.2) 0%, rgba(54, 54, 54, 0.1) 100%);
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(86, 86, 86, 0.2)), color-stop(100%, rgba(86, 86, 86, 0.1)));
          background: -webkit-linear-gradient(top, rgba(86, 86, 86, 0.2) 0%, rgba(86, 86, 86, 0.1) 100%);
          background: -o-linear-gradient(top, rgba(86, 86, 86, 0.2) 0%, rgba(54, 54, 54, 0.1) 100%);
          background: -ms-linear-gradient(top, rgba(86, 86, 86, 0.2) 0%, rgba(54, 54, 54, 0.1) 100%);
          background: linear-gradient(top, rgba(86, 86, 86, 0.2) 0%, rgba(86, 86, 86, 0.1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33565656', endColorstr='#1a363636', GradientType=0);
        }
      }
    }

    li:first-child {
      border-top: none;
    }

    li.user {
      padding: 12px 0;

      span {
        display: block;
        margin-top: 6px;
      }
    }
  }

  .side-right {
    position: relative;
    padding-top: $top-navigation-height + 1px;
    z-index: 98;
    margin-left: 100px;

    .nav {
      border-top: 1px solid #c3c3c3;

      &:before, &:after {
        content: normal;
      }

      li {
        font-size: 11px;
        position: relative;

        // Last nav item
        &:last-child {
          a {
            border-bottom: 1px solid #c3c3c3;
          }
        }

        // Active nav item
        &.active {
          border-left: 4px solid $sidebar-navigation-active-color;

          a {
            background: url(../images/backgrounds/body.jpg);
            margin-right: -1px;
            color: $sidebar-navigation-active-color;
            filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
            padding-left: 10px;

            &:hover {
              background: url(../images/backgrounds/body.jpg);
            }
          }
        }

        a {
          color: #6a6a6a;
          border-top: 1px solid #fdfdfd;
          border-bottom: 1px solid #cecece;
          padding: 8px 14px 8px 14px;
          display: block;
          font-weight: bold;
          background: #f7f7f7;
          background: -moz-linear-gradient(top, #f7f7f7 0%, #e6e6e6 100%);
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #e6e6e6));
          background: -webkit-linear-gradient(top, #f7f7f7 0%, #e6e6e6 100%);
          background: -o-linear-gradient(top, #f7f7f7 0%, #e6e6e6 100%);
          background: -ms-linear-gradient(top, #f7f7f7 0%, #e6e6e6 100%);
          background: linear-gradient(top, #f7f7f7 0%, #e6e6e6 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#e6e6e6', GradientType=0);

          .fa {
            color: #6a6a6a;
            margin-right: 10px;
          }

          &:active {
            background: #f0f0f0;
          }

          &:hover {
            background: #fbfbfb;
            background: -moz-linear-gradient(top, #fbfbfb 0%, #e8e8e8 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbfbfb), color-stop(100%, #e8e8e8));
            background: -webkit-linear-gradient(top, #fbfbfb 0%, #e8e8e8 100%);
            background: -o-linear-gradient(top, #fbfbfb 0%, #e8e8e8 100%);
            background: -ms-linear-gradient(top, #fbfbfb 0%, #e8e8e8 100%);
            background: linear-gradient(top, #fbfbfb 0%, #e8e8e8 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbfbfb', endColorstr='#e8e8e8', GradientType=0);
          }
        }
      }
    }
  }
}