@import "bootstrap/variables";

.navbar {
  margin-bottom: 0px;

  .navbar-brand {
    font-family: "Myriad Pro";
    color: #eee;
  }
}
.navbar-inverse {
  background-image: image-url('backgrounds/top.jpg');
  border-color: #1c1c1c;

  .nav {
    > li.round {
      margin-top: 10px;

      > a {
        padding: 5px 0 0 0;
        height: 28px;
        width: 28px;
        display: inline-block;
        margin: 0 0 0 10px;
        background: #191919;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        box-shadow: 0 1px 0 #4e4e4e;
        -webkit-box-shadow: 0 1px 0 #4e4e4e;
        -moz-box-shadow: 0 1px 0 #4e4e4e;

        text-align: center;
      }
    }
  }
}