{% extends '::layout.html.twig' %}

{% block title %}
    Welcome!
{% endblock %}

{% block content %}
    <div style="text-align: center">
        <a href="/console" class="btn btn-blue btn-lg">Explore API</a>
    </div>
{% endblock %}